
@{
    ViewData["Title"] = "ForgotPassWord";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
@section stylesheet {
    <link rel="stylesheet" href="@Url.Content("~/Content/Login/css/style.css")" type="text/css">
    
}
<!-- Breadcrumb Section Begin -->
<!-- Breadcrumb Section End -->
<div class="content2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 contents">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="form-block">
                            <div class="mb-4">
                                <h3>Quên mật khẩu</h3>
                            </div>
                            <form action="#" method="post" id="mailforgot">
                                <div class="form-group first">
                                    <p>Nhập email của bạn</p>
                                    <input type="text" class="form-control" id="email">
                                </div>
                                <h4 id="error" style="color:red; font-size:16px; text-align:center; margin: 5px">
                                </h4>
                                <a style="text-decoration: none; cursor: pointer;">
                                    <div class="button_forgot" id="forgot">Gửi mã xác nhận</div>
                                </a>
                                <a href="@Url.Action("Login","User")" class="d-block text-center my-4 text-muted" style="text-decoration: none;"> Đăng nhập</a>
                            </form>
                            <form method="post" id="verify" style="display: none;">
                                <div class="form-group first">
                                    <p>Nhập Mã xác thực</p>
                                    <input type="text" class="form-control" id="code">
                                </div>
                                <h4 id="error1" style="color:red; font-size:16px; text-align:center; margin: 5px">
                                </h4>
                                <a style="text-decoration: none; cursor: pointer;">
                                    <div class="button_forgot" id="verifycode">Xác nhận mã</div>
                                </a>
                                <a href="@Url.Action("Login","User")" class="d-block text-center my-4 text-muted" style="text-decoration: none;"> Đăng nhập</a>
                            </form>
                            <form method="post" id="form-changepass" style="display: none">
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">Mật khẩu mới</label>
                                            <input class="input--style-4" type="password" name="password" id="password" required>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">Nhập lại mật khẩu mới</label>
                                            <input class="input--style-4" type="password" name="repassword" id="repassword" required>
                                        </div>
                                    </div>
                                </div>
                                <h4 id="errorpass" style="font-size:16px;color:red;text-align: center"></h4>
                                <div class="p-t-15">
                                    <a> <div class="btn btn--radius-2 btn--blue" id="comfirmpass">Xác nhận</div></a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/js/jquery-3.3.1.min.js"></script>
<script>
    $("#forgot").click(function () {
        const email = $("#email").val();
        if (email.length < 1) {
            $("#error").text("Không được bỏ trống !")
        }
        else {
            $.ajax({
                url: "/User/ForgotPassword",
                type: "post",
                data: {
                    email: email
                },
                success: function (response) {
                    $("#error").text(response.status);
                    if (response.check != null && response.check) {
                        $("#mailforgot").remove();
                        $("#verify").css("display", "block");
                    }
                }
            });

        }
    });
    $("#verifycode").click(function (e) {
        e.preventDefault();
        const code = $("#code").val();
        if (code.length < 1) {
            alert("Code không được bỏ trống");
        } else {
            $.ajax({
                url: "/User/VerifyForgot",
                type: "post",
                data: {
                    code: code
                },
                success: function (response) {
                    if (response.success) {
                        $("#verify").remove();
                        $("#form-changepass").css("display", "block");
                    } else {
                        if (response.timeout)
                            $("#errorCode").text("Mã code đã hết hạn !");
                        else
                            $("#errorCode").text("Mã code sai !");
                    }
                }
            });
        }
    })
    $("#comfirmpass").click(function (e) {
        e.preventDefault();
        const pass = $("#password").val();
        const repass = $("#repassword").val();
        if (pass.length < 1 || repass.length < 1) {
            $("#errorpass").text("Yêu cầu nhập đầy đủ các trường !");
        } else {
            if (pass === repass) {
                $.ajax({
                    url: "/User/ChangePassword",
                    type: "post",
                    data: {
                        pass: pass
                    },
                    success: function () {
                        var redirectUrl = window.location.protocol + "//" + window.location.host + "/User/Login";
                        console.log(redirectUrl);
                        window.location.href = redirectUrl;
                    },
                    error: function () {
                        alert("Lỗi");
                    }
                });
            }
            else {
                $("#errorpass").text("Mật khẩu nhập lại phải giống với trước đó");
            }
        }
    })
</script>