
@{
    ViewData["Title"] = "Orders";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- [ Main Content ] start -->
<div class="pc-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <!-- <div class="page-header-title">
                            <h5 class="m-b-10">Dashboard sale</h5>
                        </div> -->
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">Quản lý sản phẩm</li>
                            <li class="breadcrumb-item">Tình trạng đơn hàng</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-text">Tìm kiếm đơn hàng</span>
                                    <input type="text" class="form-control" placeholder="Search...">
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane fade show active" id="nav-week1" role="tabpanel" aria-labelledby="nav-week1-tab">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th data-toggle="tooltip">Mã đơn hàng</th>
                                        <th data-toggle="tooltip">Người mua</th>
                                        <th>Sản phẩm</th>
                                        <th>Số lượng</th>
                                        <th>Tình trạng</th>
                                        <th>Ngày mua</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td scope="row">0151</td>
                                        <td>Nguyễn Thanh Tùng</td>
                                        <td>Cún golden siêu phẩm</td>
                                        <td>01</td>
                                        <td>
                                            <a href="" style="font-weight: bold;">
                                                Hoàn thành
                                                <i class="material-icons-two-tone" data-feather="check"></i>
                                            </a>
                                        </td>
                                        <td>21/05/2021</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">0152</td>
                                        <td>Nguyễn Ngọc Sơn</td>
                                        <td>Mèo chân ngắn tai cụp</td>
                                        <td>01</td>
                                        <td>
                                            <a href="" style="font-weight: bold;">
                                                Đang xử lý&ensp;
                                                <i class="material-icons-two-tone" data-feather="loader"></i>
                                            </a>
                                        </td>
                                        <td>26/07/2021</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">0153</td>
                                        <td>Nguyễn Ngọc My</td>
                                        <td>Munchkin Bicolor</td>
                                        <td>02</td>
                                        <td>
                                            <a href="" style="font-weight: bold;">
                                                Hoàn thành
                                                <i class="material-icons-two-tone" data-feather="check"></i>
                                            </a>
                                        </td>
                                        <td>14/08/2021</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">0154</td>
                                        <td>Ngô Đức Hòa</td>
                                        <td>Alaska Giant xám trắng</td>
                                        <td>01</td>
                                        <td>
                                            <a href="" style="font-weight: bold;">
                                                Hoàn thành
                                                <i class="material-icons-two-tone" data-feather="check"></i>
                                            </a>
                                        </td>
                                        <td>05/09/2021</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">0155</td>
                                        <td>Nguyễn Hoài Thương</td>
                                        <td>Alaska Giant xám trắng</td>
                                        <td>01</td>
                                        <td>
                                            <a href="" style="font-weight: bold;">
                                                Đang xử lý&ensp;
                                                <i class="material-icons-two-tone" data-feather="loader"></i>
                                            </a>
                                        </td>
                                        <td>10/09/2021</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">0156</td>
                                        <td>Vũ Văn Kiệt</td>
                                        <td>Mèo tai cụp</td>
                                        <td>01</td>
                                        <td>
                                            <a href="" style="font-weight: bold;">
                                                Hoàn thành
                                                <i class="material-icons-two-tone" data-feather="check"></i>
                                            </a>
                                        </td>
                                        <td>20/09/2021</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">0157</td>
                                        <td>Trần Tấn Nhất</td>
                                        <td>Scottish Van tai cụp</td>
                                        <td>02</td>
                                        <td>
                                            <a href="" style="font-weight: bold;">
                                                Hủy đơn hàng
                                                <i class="material-icons-two-tone" data-feather="x"></i>
                                            </a>
                                        </td>
                                        <td>15/10/2021</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">0158</td>
                                        <td>Lê Chí Công</td>
                                        <td>Phốc sóc mặt gấu</td>
                                        <td>01</td>
                                        <td>
                                            <a href="" style="font-weight: bold;">
                                                Hoàn thành
                                                <i class="material-icons-two-tone" data-feather="check"></i>
                                            </a>
                                        </td>
                                        <td>24/10/2021</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">0159</td>
                                        <td>Ngô Đức Hòa</td>
                                        <td>Mèo chân ngắn tai cụp</td>
                                        <td>01</td>
                                        <td>
                                            <a href="" style="font-weight: bold;">
                                                Hoàn thành
                                                <i class="material-icons-two-tone" data-feather="check"></i>
                                            </a>
                                        </td>
                                        <td>05/09/2021</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->

